button {
    border: none;
    background-color: transparent;
    width: 100%;
    font-size: large;
    font-weight: bold;
    padding: 50px;
}

.categories {
    display: flex;
    width: 90%;
}

input {
    border: none;
    font-size: large;
    padding: 50px;
    font-weight: bold;
}

input:focus {
    outline: none;
}

/* Emphasise ✨✨✨*/

.button-container .button {
    position: relative;
    background-color: transparent;
    color: #000000;
    transition: 0.4s;
    padding: 0px;
    width: inherit;
    margin-right: 5%;
    margin-left: 5%;
    white-space: nowrap;
    text-align: center;
}

.button-container .button::after {
    content: "";
    height: 40%;
    background: linear-gradient(hsl(140, 98%, 35%) 80%, hsl(140, 98%, 35%) 80%);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 35px;
    top: 20px;
    border-radius: 1rem;
    filter: blur(12px);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s;
}

.button-container .button__text {
    position: relative;
    z-index: 10;
}

.button-container .carpator_si_cutit,
.button-container .ceasca,
.button-container .oala_deschisa,
.button-container .sare {
    position: absolute;
    inset: 0;
    margin: auto;
    transition: 0.5s;
    opacity: 0;
}

.button-container .carpator_si_cutit {
    width: 18px;
    transform: translate(-25px, -6px) rotate(180deg);
    background: url("../../assets/images/carpator_si_cutit.PNG") no-repeat
        center / contain;
}

.button-container .ceasca {
    width: 38px;
    transform: translate(7px, -14px) rotate(180deg);
    background: url("../../assets/images/ceasca.PNG") no-repeat center / contain;
}

.button-container .oala_deschisa {
    width: 36px;
    transform: translate(34px, -4px) rotate(180deg);
    background: url("../../assets/images/oala_deschisa.PNG") no-repeat center /
        contain;
}

.button-container .sare {
    width: 30px;
    transform: translate(-5px, 15px) rotate(180deg);
    background: url("../../assets/images/sare.PNG") no-repeat center / contain;
}

.button-container .button:hover::after {
    opacity: 0.3;
}

.button-container .button:hover {
    transform: scale(1.3);
}

.button-container .button:hover .carpator_si_cutit,
.button-container .button:hover .ceasca,
.button-container .button:hover .oala_deschisa,
.button-container .button:hover .sare {
    opacity: 1;
}

.button-container .button:hover .carpator_si_cutit {
    transform: translate(-38px, -10px) scale(2.5) rotate(45deg);
}

.button-container .button:hover .ceasca {
    transform: translate(7px, -32px) scale(1.5) rotate(-45deg);
}

.button-container .button:hover .oala_deschisa {
    transform: translate(50px, -20px) scale(1.5) rotate(45deg);
}

.button-container .button:hover .sare {
    transform: translate(+2px, 20px) scale(1.5) rotate(25deg);
}

.button-container .button.active {
    transform: scale(1.3);
}

.button-container .button.active::after {
    opacity: 0.3;
}

.button-container .button.active .carpator_si_cutit,
.button-container .button.active .ceasca,
.button-container .button.active .oala_deschisa,
.button-container .button.active .sare {
    opacity: 1;
}

.button-container .button.active .carpator_si_cutit {
    transform: translate(-38px, -10px) scale(1.8) rotate(45deg);
}

.button-container .button.active .ceasca {
    transform: translate(7px, -32px) scale(1.1) rotate(-45deg);
}

.button-container .button.active .oala_deschisa {
    transform: translate(50px, -20px) scale(1.1) rotate(45deg);
}

.button-container .button.active .sare {
    transform: translate(+2px, 20px) scale(1.1) rotate(25deg);
}
