.recipes-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 20px;
}

.categories, .recipes-grid {
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
}
