.add-recipe-container .add-recipe-fields {
    display: flex;
    width: 80%;
    margin: 100px auto 0;
    margin-bottom: 100px;
}

.add-recipe-container .recipe-name-input-box {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0px;
    padding-left: 8px;
    height: 35px;
    font-weight: normal;
    font-size: small;
    width: 100%;
    box-sizing: border-box;
}

.add-recipe-container .left-column {
    flex: 1;
    margin-right: 20px;
}

.add-recipe-container .right-column {
    flex: 1;
    margin-left: 20px;
}

.add-recipe-container .preparation-time-container {
    display: flex;
    gap: 5px;
    margin-top: 0px;
}

.add-recipe-container select {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 35px;
}

.prep-duration-select {
    display: block;
    width: 100%;
    padding: 0px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: lightgray;
}

.prep-duration-selected {
    display: block;
    width: 100%;
    padding: 0px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: black;
}

.add-recipe-container .custom-file-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed lightgray;
    border-radius: 10px;
    background-color: transparent;
    color: #333;
    font-size: 16px;
    width: 100%;
    height: 215px;
    box-sizing: border-box;
}

.add-recipe-container .custom-file-upload:hover {
    background-color: #e8e8e8;
    border-color: #555;
}

.add-recipe-container .image-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 215px;
    margin-top: 10px;
}

.add-recipe-container .image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.add-recipe-container .ingredient-select {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 0px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: lightgray;
}
.add-recipe-container .ingredient-selected {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 0px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: black;
}

.add-recipe-container .ingredient-selected {
    color: black;
}

.add-recipe-container .add-ingredient-button {
    display: block;
    margin-top: 20px;
    background-color: white;
    color: #01ae3a;
    border: 2px solid #01ae3a;
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
    font-size: small;
    font-weight: bold;
}

.add-recipe-container div {
    margin-bottom: 10px;
    margin-top: 25px;
}

.add-recipe-container .description-input {
    height: 127px;
    border-color: lightgray;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0px;
}

.add-recipe-container .save-recipe-button {
    display: block;
    margin-top: 50px;
    background-color: #01ae3a;
    color: white;
    border-radius: 5px;
    width: 40%;
    padding: 10px 0;
    font-size: small;
}

.add-recipe-container input::placeholder {
    color: lightgray;
}

.select-dropdown {
    color: lightgray;
}
