.parent-grid {
    display: flex;
    justify-content: center;
}
.recipe-view-grid {
    padding-left: 50px;
    display: grid;
    grid-template-columns: 3fr 3fr;
    gap: 50px;
    align-items: start;
}
