.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.pagination button,
.pagination span {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.pagination span.active {
    font-weight: bold;
    text-decoration: underline;
}

.pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
