.search-bar{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

.search-input{
    flex-grow: 1;
    padding: 10px;
    padding-left: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.search-button{
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #1eac1e;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
}
