.add-ingredient-popup-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    align-content: center;
    z-index: 10;
    animation: fadeIn 0.5s ease forwards;
}

.add-ingredient-popup {
    z-index: 50;
    background-color: white;
    width: 450px;
    height: 250px;
    border-radius: 8px;
    margin: auto;
    align-items: center;
}

.close-button {
    position: relative;
    background-color: transparent;
    margin-left: 415px;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.add-ingredient-popup-title {
    text-align: center;
    font-weight: 500;
    margin: 0 85px;
    font-size: large;
}

.add-ingredient-popup-input {
    border: 2px solid lightgray;
    border-radius: 4px;
    height: 32px;
    padding: 0 10px;
    display: block;
    margin: 20px 85px 0px 85px;
    width: 260px;
    font-weight: normal;
    font-size: medium;
}

input::placeholder {
    color: rgb(216, 216, 216);
}

.add-ingredient-popup-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 40px 85px 20px 85px;
}

.add-ingredient-popup-add-btn {
    color: white;
    background-color: #01ae3a;
    font-weight: 800;
}

.add-ingredient-popup-add-btn:disabled {
    background-color: lightgray;
}

.add-ingredient-popup-cancel-btn {
    border: 2px solid #01ae3a;
    color: #01ae3a;
}

.add-ingredient-popup-add-btn:hover:enabled,
.add-ingredient-popup-cancel-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.add-ingredient-popup-add-btn,
.add-ingredient-popup-cancel-btn {
    height: 35px;
    padding: 4px;
    font-size: small;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    border-radius: 4px;
}
