.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.left-items {
    display: flex;
    gap: 40px;
    margin-left: 0.5px;
    align-items: center;
}

.pages-items {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 120px;
}

.logo-image {
    height: 25px;
}

.profile-logo-image {
    height: 25px;
}

.right-items {
    display: flex;
    margin-right: 70px;
}

.right .button {
    padding: 9px 28px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    border: 2px solid #fff;
    font-size: 12px;
    font-weight: bold;

}

.right .button:hover {
    background-color: #333;
    border-color: #fff;
}

.nav-item:hover {
    color: #ddd;
}

.nav-item, .dropdown {
    position: relative;
    display: inline-block;
}

.nav-item {
    text-decoration: none;
    text-align: start;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 40px 10px 0px;
    font-family: "Segoe UI";
    font-weight: 400;
}

.nav-item:hover {
    color: #ddd;
    
}

.dropdown-item {
    font-weight: 500;
    display: block;
    padding: 5px ;
    color: #333;
    text-decoration: none;
}

.dropdown-item:hover {
    font-weight: bold;
    color: black;
}

.right {
    margin-left: 20px;
}
